@font-face {
    font-family: I Fink U Freeky;
    font-style: normal;
    font-weight: 500;
    src: url(https://jamwithhumans.com/_next/static/media/Ifinkufreeky.3a230bb0.ttf) format("truetype");
}


html {
    background-color: black;
    text-align: center;
    color: white;
    font-family: -apple-system, Arial, sans-serif;
}

main {
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
}

h1 {
    font-family: "I Fink U Freeky", "Times New Roman", sans-serif;
    color: #006680;
    font-size: 40pt;
}

h2 {
    font-family: "I Fink U Freeky", "Times New Roman", sans-serif;
    color: #D45500;
    font-size: 20pt;
}

a {
    padding: 10px 20px;
    border: 1px solid white;
    display: block;
    margin: 20px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

a:visited {
    color: white;
}

footer {
    color: #FFCCAA;
    font-size: 10pt;
}